body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(img/sunny-bokeh-garden-leaf-bright.jpg);
    background-size: cover;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote__title {
    font-family: 'Sansita', sans-serif;
    font-size: 72px;
    text-align: center;
    color: #FF6933;
}
.quote__content {
    background-color: rgba(247, 247, 247, 0.5);
    max-width: 70%;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}
.quote__content-title {
}
.quote__content-img {
    object-fit: cover;
    max-width: 80%;
    max-height: 200px;
}
.quote__content-text {
    font-family: 'Cormorant', serif;
    font-size: 30px;
    line-height: 32px;
}

.quote__content-btn {
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #FF6933;
    cursor: pointer;
}