
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E7EAEF;
    font-weight: 700;
    font-size: 18px;
}



.container {
    max-width: 1420px;
    padding: 0 10px;
    margin: 0 auto;
}

.quotes {
    max-height: 100vh;
}

.quotes__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.quotes__content {
    max-width: 50%;
    margin: 0 auto;
    background-color: rgba(247, 247, 247, 0.5);
    border-radius: 15px;
    padding: 20px 30px;
    height: auto;
    position: absolute;
    left: 10px;
    top: 70px;
}

.quotes__content-title {
    text-align: center;
}

.quotes__content-subtitle {
    margin-bottom: 70px;
}

.quotes__content-main {
    background-color: #F7C7B1;
    padding: 70px 20px;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.quotes__content-text {
    margin-bottom: 10px;
}

.quotes__content-source {
    margin-bottom: 20px;
}

.quotes__content-btn {
    background-color: #E78F63;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
    font-family: inherit;
}

.quotes__img {
    object-fit: cover;
    max-width: 50%;
    max-height: 100vh;
    display: block;
    margin-left: auto;
}

@keyframes slidein {
    from {
      transform: translateX(70%);
    }
  
    to {
      transform: translateX(0%);
    }
}

.animated {
    animation-name: slidein;
    animation-duration: 3s;
}
